* {
    box-sizing: border-box;
}

/* nav {
    outline: solid brown 1px;
    text-align: right;
    position: fixed;
    width: 100%;
    padding-right: 20px;
}

p {
    padding-top: 20px;
}

button {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    
}

span {
    background-color: black;
    width: 100%;
    height: 4px;
    display: block;
    margin-bottom: 3px;
    border-radius: 2px;
}

button span:nth-child(2) {
    background-color: red;
    left: -6px;
    position: relative;
    transition: left 0.25s ease-in-out;
}

button:hover span:nth-child(2) {
    left: 0;
} */